/backend/app/__pycache__
backend/.env
/backend/.idea
/backend/app/__pycache__
/backend/app/__pycache__
/backend/app/__pycache__
/backend/app/api/__pycache__
backend/app/__pycache__/db_models.cpython-312.pyc
backend/app/__pycache__/schemas.cpython-312.pyc
backend/app/api/__pycache__/users.cpython-312.pyc
backend/app/crud/__pycache__/users.cpython-312.pyc
backend/scripts/__pycache__/__init__.cpython-312.pyc
backend/scripts/__pycache__/create_tables.cpython-312.pyc
frontend/.env
